body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "GoogleSans, serif"; */
  padding: 1rem;
}

.home {
  overflow: hidden;
}

/*Sub Header styles */
.sub-header {
  display: flex;
  margin-left: 1.1rem;
}

.sub-header img {
  object-fit: contain;
  margin-right: 0.6rem;
}

.sub-header p {
  font-size: 14px;
  font-weight: 400;
  color: #778699;
  padding-right: 0.1rem;
}
/* cards section */
.cards {
  display: flex;
}

/* Table styles */
.tables {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.home-flex {
  display: flex;
}

/* Table Header styles */
.table-header {
  margin-left: -5.6rem;
  display: flex;
  /* justify-content: space-between; */
  background-color: #f3f6f9;
  text-transform: uppercase;
}

.table-header * {
  margin-right: 5rem;
}

.table-header p {
  font-weight: 400;
  font-size: 12px;
  color: #899198;
  margin-right: 6.5rem;
}

.name {
  margin-left: 2rem;
}

.location {
  margin-left: -2rem;
}

.status {
  margin-left: -1rem;
}

.timeline--flex {
  display: flex;
  flex-direction: column;
}
/* .border {
  border-bottom: 1px solid yellow;
} */
